.idea

# Entorno virtual
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo

# Variables de entorno (contiene tokens)
.env

# Datos generados
data/*.csv

# Docker volumes
mosquitto/data/
mosquitto/log/

practica-fraudes/creditcard.csv